[core]
	autocrlf = input
	safecrlf = false
  excludesfile = ~/.gitignore_global
[user]
	name = KH Chan
	email = kwunhok@gmail.com
[pull]
	rebase = true
[push]
  default = simple
[alias]
  cr = "!f() { git push origin @:refs/for/${1}; }; f"
  f = "!f() { git fetch ${1-origin}; }; f"
  ri = "!f() { git rebase -i origin/${1}; }; f"
  ca = "!f() { git commit --amend ${@}; }; f"
  dr = "!f() { git push origin @:refs/drafts/${1}; }; f"
  co = "!f() { git checkout ${@}; }; f"
